extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1= project_name
        p= description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each skill in technologies
            li= skill

        a.btn-link(href=`${live_link}` target='blank') Live Demo
        a.btn-link(href=`${github_link}` target='blank') GitHub Repo

    .project-img-box.box
      img.project-img(src=`${image_urls[1]}`, alt=`${description}`)
      

    nav.nav
      a(href='/')
        span &larr;
        |  Back
